<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<import resource="spring-jpa.xml"/>
	
	<bean id="retrySavingMessageJob" class="com.hlb.dblogging.quartz.services.RetryFailedMessageSavingJob"></bean>
	<bean id="updteSettingsJob" class="com.hlb.dblogging.quartz.services.UpdateConfigurationSettingsJob"></bean>
	
	
	<bean name="saveFailedMessagesJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
			<property name="jobClass" value="com.hlb.dblogging.quartz.services.RetryFailedMessageSavingJob"></property>	
	</bean>
	<bean name="updteSettingsJobBean" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
			<property name="jobClass" value="com.hlb.dblogging.quartz.services.UpdateConfigurationSettingsJob"></property>	
	</bean>
	
	<bean id="cronTriggerSaveFailedMessagesJob" class="org.springframework.scheduling.quartz.CronTriggerBean">
			<property name="jobDetail" ref="saveFailedMessagesJob"></property>
			<property name="cronExpression" value="0 0 3 * * ?"></property>	
	</bean>
	<bean id="cronTriggerUpdateSettingsJobBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
			<property name="jobDetail" ref="updteSettingsJobBean"></property>
			<property name="cronExpression" value="0 0/5 * * * ?"></property>	
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
			<property name="triggers">
				<list>
					<ref bean="cronTriggerSaveFailedMessagesJob" />
					<ref bean="cronTriggerUpdateSettingsJobBean" />
				</list>			
			</property>
	</bean>
</beans>	